extends ../layout

block content
  .row
    .col-lg-12
      .pb-2.mt-2.mb-4
        h3 CDArcha souhrn

  .row
    .col-lg-6 Zaplnění úložiště
      .progress.position-relative(style="height:25px;")
        .progress-bar(role="progressbar", style="width: " + df.percent + "%", aria-valuenow=df.percent, aria-valuemin="0", aria-valuemax="100")
        span.justify-content-center.d-flex.position-absolute.w-100(style="color:#fff; text-shadow:1px 1px #666; font-size:1rem;") #{df.percent}% obsazené (#{df.free} volné z #{df.total})
    .col-lg-6 Vytížení systému (CPU)
      .progress.position-relative(style="height:25px;")
        .progress-bar(role="progressbar", style="width: " + cpu + "%", aria-valuenow=cpu, aria-valuemin="0", aria-valuemax="100")
        span.justify-content-center.d-flex.position-absolute.w-100(style="color:#fff; text-shadow:1px 1px #666; font-size:1rem;") #{cpu}%
  .mb-4

  h4 Archivy podle stavů

  div.row.mt-4
    div.col-lg-3
      strong(class="bg-red") Rozpracované na klientovi
    h4.col-lg-1 #{sums.st0}
    div.col-lg-8.text-secondary Archivy, které ještě nebyly pomocí klienta označené jako uzavřené. Toto číslo by mělo být nízké a ideálně 0. Dlouhodobě nenulová hodnota naznačuje zapomenuté archivy, doposud neoznačené jako dokončené na klientovi.

  div.row.mt-4
    div.col-lg-3
      strong(class="bg-cyan") Ukončené na klientovi
    h4.col-lg-1 #{sums.st1}
    div.col-lg-8.text-secondary Archivy, které už byly označené jako ukončené na klientovi a čekají na další zpracování. Jedná se o frontu archivů pro zpracování generátorem SIP balíků. Toto číslo by mělo být ideálně 0. Pokud je dlouhodobě nenulové, naznačuje problém s generovaním SIP balíků.

  div.row.mt-4
    div.col-lg-3
      strong(class="bg-cyan") Rozpracované na serveru
    h4.col-lg-1 #{sums.st2}
    div.col-lg-8.text-secondary Archivy, které jsou v této chvíli zpracovávány generátorem SIP balíků. Neměnná nenulová hodnota naznačuje problém s generátorem SIP balíků.

  div.row.mt-4
    div.col-lg-3
      strong(class="bg-yellow") Připravené na archivaci
    h4.col-lg-1 #{sums.st3}
    div.col-lg-8.text-secondary SIP balík těchto archivů byl v pořádku vygenerován. Připravené na LTP archivaci (v současnosti není žádný další proces LTP archivace zaveden).

  div.row.mt-4
    div.col-lg-3
      strong Archivované
    h4.col-lg-1 #{sums.st4}
    div.col-lg-8.text-secondary Konečný stav. V současnosti se do tohoto stavu neprochází.

  div.row.mt-4
    div.col-lg-3
      strong Timeout analýzy média (DROID)
    h4.col-lg-1 #{sums.st5}
    div.col-lg-8.text-secondary Chybový stav. Proces analýzy pomocí nástroje DROID trval dlouhou dobu, a proto se SIP balík nepovedlo vytvořit.

  div.row.mt-4
    div.col-lg-3
      strong Jiný problém s analýzou média (DROID)
    h4.col-lg-1 #{sums.st6}
    div.col-lg-8.text-secondary Chybový stav. Proces analýzy pomocí nástroje DROID skončil chybou, a proto se SIP balík nepovedlo vytvořit.

  h4.mt-5 Nejnovější archivy
  #tab-overflow
    #tab-container
      #tab2
        .col-lg-12
          table#table-archive(data-url="/cdarcha/home/dataset", data-search="false", data-pagination="true", data-show-refresh="false", data-show-columns="false", data-minimum-count-columns="2", data-side-pagination="server", data-id-field="_id", data-page-list="[10, 25, 50, 100, ALL]", data-show-footer="false")

  #archive-pluged.toast
    .toast-header CDArcha akce
    .toast-body Archiv byl připojen do Vašeho adresáře.

  #archive-unpluged.toast
    .toast-header CDArcha akce
    .toast-body Všechny archivy byly odpojeny z Vašeho adresáře.

  script(src='/cdarcha/js/home.js')
  script(src='/cdarcha/js/archivelist.js')
