extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Profil

  form(action='/cdarcha/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7.padding-top-small
        input.form-control(type='email', name='email', id='email', placeholder='Email', value=user.email, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='sigla') Sigla
      .col-md-7
        input.form-control(type='sigla', name='sigla', id='sigla', placeholder='Sigla', value=user.sigla, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='institution') Název instituce
      .col-md-7
        input.form-control(type='text', name='institution', id='institution', placeholder='Název instituce', value=user.institution, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='sigla') Role
      .col-md-7.padding-top-small
        strong
          if user.roleType == 0
            | Sysadmin (může všechno i zakládat uživatele)
          else if user.roleType == 1
            | Kurátor (archivuje a spravuje archivy)
          else
            | Archivátor (pouze archivuje)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Update Profile

  .pb-2.mt-2.mb-4.border-bottom
    h3 Změna hesla

  form(action='/cdarcha/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Nové heslo
      .col-md-7
        input.form-control(type='password', name='password', id='password')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Potvrdit heslo
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-primary(type='submit')
          i.fas.fa-lock.fa-sm
          | Změnit heslo

  .pb-2.mt-2.mb-4.border-bottom
    h3 Delete Account

  form(action='/cdarcha/account/delete', method='POST', onsubmit="return confirm('Skutečne chcete smazat váš účet?');")
    .form-group
      p.offset-sm-3.col-md-7.pl-2 Máte možnost smazat váš uživatelský účet. Operace je nevratná.
      input(type='hidden', name='_csrf', value=_csrf)
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-danger(type='submit')
          i.fas.fa-trash-alt.fa-sm
          | Smazat uživatelský účet

  .pb-2.mt-2.mb-4.border-bottom
    h3 Propojené účty
  .form-group
    .offset-sm-3.col-md-7.pl-2
      if user.google
        p.mb-1: a.text-danger(href='/cdarcha/account/unlink/google') Rozvázat s Google účtem
      else
        p.mb-1: a(href='/cdarcha/auth/google') Svázat s Google účtem
    .offset-sm-3.col-md-7.pl-2
      if user.github
        p.mb-1: a.text-danger(href='/cdarcha/account/unlink/github') Rozvázat s GitHub účtem
      else
        p.mb-1: a(href='/cdarcha/auth/github') Svázat s GitHub účtem
